{"web":{"auth_uri":"****************","token_uri":"*************","client_email":"***************","redirect_uris":["*************"],"client_x509_cert_url":"*************","client_id":"7*************","auth_provider_x509_cert_url":"*************","javascript_origins":["*************"]}}
